<div class="container">
<h1>My Tasks</h1>
<ul>
  <%@tasks.each do |task|%>
    <li class="text-decoration-none">
    <div>
    <% if (task.completed == true) %>
      <%= link_to task_path(task.id) do %>
        <i class="fa-solid fa-square-check"></i> <%=task.title%>
        <%end%>
    <% else %>
      <%= link_to task_path(task.id) do %>
      <i class="fa-regular fa-square"></i> <%=task.title%>
      <%end%>
    <% end %>
    <%= link_to task_path(task.id), data:{turbo_method: :delete, turbo_confirm: "It won't come back"} do %>
    <i class="fa-solid fa-trash-can"></i>
    <%end%>
    </div>
    </li>
  <%end%>
</ul>
<p class="text-decoration-none"><%= link_to "+ Add a new task", new_path%></p>
</div>
